<a href="https://colab.research.google.com/github/mralamdari/A_MLOps_Practives/blob/main/p3_TFDV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import os
from IPython.display import clear_output

In [3]:
!pip install tensorflow-data-validation
clear_output()

In [4]:
def add_extra_rows(df):
    rows = [
        {
            'age': 46,
            'fnlwgt': 257473,
            'education': 'Bachelors',
            'education-num': 8,
            'marital-status': 'Married-civ-spouse',
            'occupation': 'Plumber',
            'relationship': 'Husband',
            'race': 'Other',
            'sex': 'Male',
            'capital-gain': 1000,
            'capital-loss': 0,
            'hours-per-week': 41,
            'native-country': 'Australia',
            'label': '>50K'
        },
        {
            'age': 0,
            'workclass': 'Private',
            'fnlwgt': 257473,
            'education': 'Masters',
            'education-num': 8,
            'marital-status': 'Married-civ-spouse',
            'occupation': 'Adm-clerical',
            'relationship': 'Wife',
            'race': 'Asian',
            'sex': 'Female',
            'capital-gain': 0,
            'capital-loss': 0,
            'hours-per-week': 40,
            'native-country': 'Pakistan',
            'label': '>50K'
        },
        {
            'age': 1000,
            'workclass': 'Private',
            'fnlwgt': 257473,
            'education': 'Masters',
            'education-num': 8,
            'marital-status': 'Married-civ-spouse',
            'occupation': 'Prof-specialty',
            'relationship': 'Husband',
            'race': 'Black',
            'sex': 'Male',
            'capital-gain': 0,
            'capital-loss': 0,
            'hours-per-week': 20,
            'native-country': 'Cameroon',
            'label': '<=50K'
        },
        {
            'age': 25,
            'workclass': '?',
            'fnlwgt': 257473,
            'education': 'Masters',
            'education-num': 8,
            'marital-status': 'Married-civ-spouse',
            'occupation': 'gamer',
            'relationship': 'Husband',
            'race': 'Asian',
            'sex': 'Female',
            'capital-gain': 0,
            'capital-loss': 0,
            'hours-per-week': 50,
            'native-country': 'Mongolia',
            'label': '<=50K'
        }
    ]

    df = df.append(rows, ignore_index=True)

    return df

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import tensorflow as tf
import tensorflow_data_validation as tfdv
import pandas as pd

from sklearn.model_selection import train_test_split
# from util import add_extra_rows

from tensorflow_metadata.proto.v0 import schema_pb2

print('TFDV Version: {}'.format(tfdv.__version__))
print('Tensorflow Version: {}'.format(tf.__version__))

In [ ]:
http://archive.ics.uci.edu/static/public/20/census+income.zip

In [ ]:
df = pd.read_csv('data/diabetic_data.csv', header=0, na_values = '?')

df.head()

In [ ]:
# grader-required-cell

def prepare_data_splits_from_dataframe(df):
    '''
    Splits a Pandas Dataframe into training, evaluation and serving sets.

    Parameters:
            df : pandas dataframe to split

    Returns:
            train_df: Training dataframe(70% of the entire dataset)
            eval_df: Evaluation dataframe (15% of the entire dataset)
            serving_df: Serving dataframe (15% of the entire dataset, label column dropped)
    '''

    # 70% of records for generating the training set
    train_len = int(len(df) * 0.7)

    # Remaining 30% of records for generating the evaluation and serving sets
    eval_serv_len = len(df) - train_len

    # Half of the 30%, which makes up 15% of total records, for generating the evaluation set
    eval_len = eval_serv_len // 2

    # Remaining 15% of total records for generating the serving set
    serv_len = eval_serv_len - eval_len

    # Split the dataframe into the three subsets
    train_df = df.iloc[:train_len].reset_index(drop=True)
    eval_df = df.iloc[train_len: train_len + eval_len].reset_index(drop=True)
    serving_df = df.iloc[train_len + eval_len: train_len + eval_len + serv_len].reset_index(drop=True)

    # Serving data emulates the data that would be submitted for predictions, so it should not have the label column.
    serving_df = serving_df.drop(['readmitted'], axis=1)

    return train_df, eval_df, serving_df